.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 46px 0 46px;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.05;
  color: #ffffff;
}

.intro__quote {
  max-width: 738px;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
  margin: 40px 0 0;
}

.intro__quote-author {
  max-width: 732px;
  font-size: 24px;
  line-height: 1.33;
  text-align: right;
  color: #ffffff;
  margin: 10px 0;
}

.intro__main-text {
  max-width: 722px;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  margin: 32px 0 0;
}

@media screen and (max-width: 1024x) {
  .intro {
    padding: 44px 24px 32px;
  }

  .intro__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    padding: 18px 16px 19px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    line-height: 1.25;
  }
}
